body {
	margin: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

#left-column {
	float: left;
	width: auto;
	max-width: 500px;
	text-align: center;
}
#right-column {
	float: right;
	width: 50%;
	text-align: left;
}

#frame {
	height: 400px;
	width: 400px;
	border: 1px solid #407591;
	background-color: #EEE;
	position: relative;
	padding: 0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.cell {
	position: absolute;
	display: inline-block;
	background-color: #CCC;
	margin: 0;
	z-index: 1;
}
.cell:hover {
	background-color: #64A3C4;
}

.active {
	background-color: #999;
}

#button-container {
	width: 400px;
	margin-top: 50px;
}
#randomize-button { margin-left: 20px; }

.divider {
	position: absolute;
	background-color: #333;
	z-index: 2;
}

.instruction-header { text-align: left; }
.instruction-list { padding-left: 10px; }
#rules-text { margin-top: 30px; }
